.b-croqueta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
}
.b-croquetas-list{
    display: flex;
    flex-direction: column;
    width: 600px;
    font-family: JosefinSans-Regular;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px var(--color-shadow);
    &__title{
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        padding: 10px 0;
        color: var(--color);
        border: none;
        background-color: var(--color-dark);
        border-radius:5px 5px 0 0 ;
        &--icon{
            margin-right: 10px;
        }
        cursor: pointer;
        transition: background-color .25s ease-in-out;
        &:hover{
            background-color: var(--color-light);
        }
        &:focus{
            outline: none;
        }
    } 
}
@media only screen and (max-width: 600px) {
    .b-croquetas-list{
        font-size: 16px;
        width: 95%;
    }
}