<div class="b-header">
    <img class="e-logo" src="../../../../assets/images/cuarto-de-croquetas-logo-white.png" alt="Cuarto de Croquetas">
    <div
        *ngIf="isLogged"
    >
        <a
            *ngFor="let link of headerLinksElements"
            [routerLink]="[link.url]"
            class="link"
            routerLinkActive="link--active"
        >{{ link.content }}</a>
        <button
            class=""
            (click)="logout()"
        >CERRAR SESIÓN</button> 
    
    <!-- <button
            (click)="navigateToCroquetasList()"
        >CROQUETAS</button>
        <button
            (click)="navigateToOrderList()"
        >PEDIDOS</button>
        <button>CERRAR SESIÓN</button> -->
    </div>
</div>