<div class="b-header">
    <img class="e-logo" src="https://res.cloudinary.com/dgkm71mjf/image/upload/v1680371227/cuarto_de_croquetas/cuarto-de-croquetas-logo-white_mmuzqp.png" alt="Cuarto de Croquetas">
    <div
        *ngIf="isLogged"
        class="b-nav"
    >
        <a
            *ngFor="let link of headerLinksElements"
            [routerLink]="[link.url]"
            class="b-nav__link"
            routerLinkActive="b-nav__link--active"
        >{{ link.content }}</a>
        <button
            class="b-nav__btn"
            (click)="logout()"
        ><span class="icon-exit"></span>SALIR</button> 
    </div>
</div>