.b-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px;
    background-color: var(--color-dark);
}
.e-logo{
    height: 60px;
}
.b-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: JosefinSans-Regular;
    font-size: 20px;   
    &__link{
        color: var(--color);
        text-decoration: none;
        margin: 0 15px;
        transition: border-bottom .25s ease-in-out;
        border-bottom: solid transparent 2px;
        &--active{
            border-bottom: solid 2px var(--color);
        }
        &:hover{
            border-bottom: solid 2px var(--color);
        }
    }
    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 5px;
        font-family: JosefinSans-Regular;
        font-size: 16px;
        color: var(--color);
        border: none;
        background-color: var(--color-dark);
        border-radius: 5px;
        cursor: pointer;
        transition: background-color .25s ease-in-out;
        &:hover{
            background-color: var(--color-light);
        }
        &:focus{
            outline: none;
        }
    }
}
@media only screen and (max-width: 600px) {
    .b-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;
    }
    .e-logo{
        margin-bottom: 10px;
    }
}