<app-form></app-form>
<!-- <div class="b-croqueta">
    <div class="b-croqueta-info">
        <div class="b-croqueta-info__sup">
            <div>
                <img class="b-croqueta-info__image" src="https://res.cloudinary.com/dgkm71mjf/image/upload/v1681670468/croqueta_de_calarames_n1xogi.jpg" [alt]="">
            </div>
            <div class="b-croqueta-info__sup__right">
                <p class="b-croqueta-info__text">Croqueta</p>
                <input class="b-croqueta-info__input100" type="text">
                <textarea class="b-croqueta-info__input100 b-croqueta-info__textarea" rows="10"></textarea>
                <div class="b-croqueta-info__units-price">
                    <div class="b-croqueta-info__sup">
                        <p class="b-croqueta-info__text">Unidades</p>
                        <input class="b-croqueta-info__input25" type="text">
                    </div>
                    <div class="b-croqueta-info__sup">
                        <p class="b-croqueta-info__price">Precio</p>
                        <input class="b-croqueta-info__input25" type="text">
                    </div>
                </div>
                <div class="b-croqueta-info__sup">
                    <p class="b-croqueta-info__text">Imagen</p>
                    <input type="text">
                </div>
            </div>
        </div>
        <div>
            <p class="b-croqueta-info__text">Información de alérgenos:</p>
            <div class="b-croqueta-info__allergens">
                <div class="b-croqueta-info__allergens__type" *ngFor="let allergen of allergensType">
                    <input type="checkbox">
                    {{ allergen }}
                </div>
            </div>
        </div>
        <div class="b-croqueta-btn">
            <button class="b-croqueta-info__btn" [routerLink]="['/admin/croqueta-list']">VOLVER</button>
            <button class="b-croqueta-info__btn b-croqueta-info__btn__delete">ELIMINAR</button>
            <button class="b-croqueta-info__btn" (click)="createCroqueta()">GUARDAR</button>
        </div>
    </div>
</div> -->