@font-face {
    font-family: JosefinSans-ExtraLight;
    src: url("../../assets/fonts/josefin_sanz/JosefinSans-ExtraLight.ttf");
}
@font-face {
    font-family: JosefinSans-Light;
    src: url("../../assets/fonts/josefin_sanz/JosefinSans-Light.ttf");
}
@font-face {
    font-family: JosefinSans-Thin;
    src: url("../../assets/fonts/josefin_sanz/JosefinSans-Thin.ttf");
}
@font-face {
    font-family: JosefinSans-Regular;
    src: url("../../assets/fonts/josefin_sanz/JosefinSans-Regular.ttf");
}
@font-face {
    font-family: JosefinSans-Medium;
    src: url("../../assets/fonts/josefin_sanz/JosefinSans-Medium.ttf");
}
@font-face {
    font-family: JosefinSans-SemiBold;
    src: url("../../assets/fonts/josefin_sanz/JosefinSans-SemiBold.ttf");
}
@font-face {
    font-family: JosefinSans-Bold;
    src: url("../../assets/fonts/josefin_sanz/JosefinSans-Bold.ttf");
}