:root{
    --color:#ffffff;
    --color-light:#df3148;
    --color-dark:#7a293d;
    --color-text:#1f0c10;

    --color-info:#df3148;
    --color-add:#7a293d;
    --color-btn:#949494;
    --color-delete:#e20303;
    --color-shadow:#b9b9b9c2;
}