ul{
    list-style: none;
    display: flex;
    padding: 0;
}
li{
    margin: 0 5px;
}
.b-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px;
    color: var(--color);
    font-family: JosefinSans-Regular;
    background-color: var(--color-dark);
}