<div
  class="b-login"
>
  <form
      *ngIf="loginForm"
      class="b-form"
      [formGroup]="loginForm"
      (submit)="login()"
  >
    <h2 class="b-form__title">Área de Gestión</h2>
    <div class="b-form__login">
      <input class="b-form__input" placeholder="Usuario" formControlName="user">
      <!-- <div *ngIf="loginForm.get('user')?.invalid && loginForm.get('user')?.touched" style="color: red;">
          <p *ngIf="loginForm.get('user')?.errors?.['required']">El usuario es requerido</p>
        </div> -->
        
      <input class="b-form__input" type="password" placeholder="Contraseña" formControlName="password">
      <!-- <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" style="color: red;">
          <p *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es requerida</p>
        </div> -->
        
      <button type="submit">INICIAR SESIÓN</button>
      <p *ngIf="formError" style="color: red;">{{ formError }}</p>

    </div>  
  </form>
</div>
  