.b-payment{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: 80px 0;
}
.b-payment-resume{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    font-family: JosefinSans-Regular;
    font-size: 25px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 3px var(--color-shadow);
    &__message{
        font-family: JosefinSans-SemiBold;
        font-size: 30px;
        text-align: center;
    }
}